
  
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 >Student/parent Login</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					
					<form [formGroup]="adminloginform1" (ngSubmit)="submitData()" novalidate>
						<div *ngIf="validMessage != ''">
						<h3 class="has-info">{{validMessage}}</h3>
						</div>
							<div class="form-group">
									<label for="email" class="cols-sm-2 control-label">Student ID</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
											<!-- <input type="text" class="form-control" name="username" id="email"  placeholder="Enter your Email" [(ngModel)]="username" required /> -->
											<input type="text" text-align = "left" class="form-control" formControlName="id" required autofocus/>
		
										</div>
									</div>
								</div>
		
							<div class="form-group">
									<label for="password" class="cols-sm-2 control-label">Password</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<!-- <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" [(ngModel)]="password" required/> -->
											<input type="password" text-align = "left" class="form-control" formControlName="mob" required autofocus/>
		
										</div>
									</div>
								</div>
						

					 <div class="form-group "> 
								<!-- <button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="login()">Login</button> -->
			  
								<button type="submit" class="btn btn-primary btn-block"> Submit</button>
		
             
						</div>
						<div class="login-register">
				            <a href="#">Forgot Password</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
		
		
	 <!-- <div *ngIf="isSubmit">
		
    <app-parent-portal [id]= "id"   ></app-parent-portal >
    </div> -->
	 

	  <!-- <div class="container">
		<form [formGroup]="adminloginform1" (ngSubmit)="submitData()" novalidate>
		<div *ngIf="validMessage != ''">
		<h3 class="has-info">{{validMessage}}</h3>
		</div>
		<div class="form-group">
		<label> Id</label>
		<input type="text" text-align = "left" class="form-control" formControlName="id" required autofocus/>
		</div>
		<div class="form-group">
		<label>mobile</label>
		<input type="password" text-align = "left" class="form-control" formControlName="mob" required autofocus/>
		</div>
		<br>
		<br>
		<button type="submit" class="btn btn-primary"> Submit</button>
		</form>
		</div> -->
		
		 
	