<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href="index.html">Smart School</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{id}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                
                <li>
                    <a routerLink="/teacher/studentList" routerLinkActive="active"><i class="fa fa-fw fa-table"></i> Student List</a>
                </li>

                <li>
                    <a routerLink="/teacher/studentList" routerLinkActive="active"><i class="fa fa-fw fa-bar-chart-o"></i> Update Student Details</a>
                </li>
               
                <!-- <li>
                    <a routerLink="/time-table" routerLinkActive="active"> <i class="fa fa-fw fa-edit"></i> PoTime Table</a>
                </li> -->
                <li>
                    <a routerLink="/teacher/homeworkList" routerLinkActive="active"><i class="fa fa-fw fa-desktop"></i>HomeworkList</a>
                </li>
                <li>
                    <a routerLink="/teacher/postHomework" routerLinkActive="active"><i class="fa fa-fw fa-desktop"></i>Post Homework</a>
                </li>
               
                <!-- <li>
                    <a routerLink="/teacher/postMark" routerLinkActive="active"><i class="fa fa-fw fa-desktop"></i>Post Marks</a>
                </li> -->
                <li>
                    <a routerLink="/teacher/studentList" routerLinkActive="active"><i class="fa fa-fw fa-wrench"></i> Update Performance</a>
                </li>
               
                <li> 
  
                      <!-- <a routerLink="/Feedback" routerLinkActive="active"><i class="fa fa-fw fa-file"></i> Feedback</a> -->
                     
                      
                </li>
                <!-- <li>
                    <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  
    <div id="page-wrapper">
  
        <div class="container-fluid">
  
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Smart Diary</div>
                                    <div class="small">Keep Everyday Records</div>
                                </div>
                            </div>
                        </div>
                        <a >
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tags fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>"If You focus on results,you will never change. If you focus on change you will get results."</div>
                                    <div>Jack Dixon</div>
                                </div>
                            </div>
                        </div>
                        <a >
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-graduation-cap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div class="huge">Student!</div>
                                    <div>A smart student has a smart mind.</div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right" > <i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Smart School</div>
                                    <div class="small">Everthing is digitalized</div>
                                </div>
                            </div>
                        </div>
                        <a >
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
  
          
            <!-- /.row -->
            <router-outlet></router-outlet>
  
            <div class="row">
               
             
                <div class="col-lg-4">
                  
                </div>
              
            </div>
            <!-- /.row -->
  
        </div>
        <!-- /.container-fluid -->
  
    </div>
    <!-- /#page-wrapper -->
  
  </div>
  <!-- /#wrapper -->
  