
<div class="container ">
    <br><br>
<div div class="h-100 row align-items-center"   >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i><a data-toggle="timeTable" tagget="#timeTable"> Time Table</a></h3>
        </div>
        <div class="panel-body" id="timeTable" > 
            <div class="table-responsive" >
                <table class="table table-bordered table-hover table-striped"  >
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Hindi</th>
                            <th>Eng</th>
                            <th>Math</th>
                            <th>Lunch</th>
                            <th>S.Science</th>
                            <th>Science</th>                                                                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ><b>Mon</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                            
                        </tr>
                        <tr>
                            <td><b>tue</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                        </tr>
                        <tr>
                            <td><b>wed</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                        </tr>
                        <tr>
                            <td><b>Thu</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                        </tr>
                        <tr>
                            <td><b>Fri</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                        </tr>
                        <tr>
                            <td><b>Sat</b></td>
                            <td>8-9 AM</td>
                            <td>9-10 AM</td>
                            <td>10-11 AM</td>
                            <td>11-12 AM</td>
                            <td>12-1 PM</td>
                            <td>1-2 PM</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#"> <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
</div>
