
<!-- <app-parent-portal></app-parent-portal> -->
<div class="container">
<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-fw fa-wrench"></i>Performance</h3>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
<thead>
<tr>
<th>Date of Exam</th>
<th>Name of Exam</th>
<th>Subjects</th>
<th>Marks</th>
</tr>
</thead>
<tbody>
<tr>
<td>05/05/2019</td>
<td>UnitTest 1</td>
<td></td>
<td></td>
</tr>
<tr>
<td>05/07/2019</td>
<td>UnitTest 2</td>
<td></td>
<td></td>
</tr>
<tr>
<td>05/09/2019</td>
<td>Half yearly</td>
<td></td>
<td></td>
</tr>
<tr>
<td>03/10/2019</td>
<td>UnitTest 3</td>
<td></td>
<td></td>
</tr>
<tr>
<td>04/11/2019</td>
<td>UnitTest 4</td>
<td></td>
<td></td>
</tr>
<tr>
<td>06/03/2020</td>
<td>Final Exam</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
